<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>                        
    </button>
    <a class="navbar-brand" href="#top">andy chen; the architect</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#who">WHO</a></li>
      <li><a href="#what">WHAT</a></li>
      <li><a href="#where">WHERE</a></li>
      <li class="divider-vertical"></li>
      <li><a href="index.php">home</a></li>
      <li><a href="professional.php">professional</a></li>
      <li><a href="leisure.php">leisure</a></li>
    </ul>
  </div>
  </div>
</nav>


<section id="first">
  <div class="container-fluid bg-3 text-center">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <br><br><br><br><br><br><br>
      <h1 class"margin" id="hello" style="font-family:American Typewriter" align="left"></h1>
      <h1 class"margin" id="welcome" style="font-family:American Typewriter" align="left"></h1>
      <br><br><br><br><br><br><br>

      <script src="js/hello.js"></script>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</section>


<!-- WHO Container -->
<section id="who">
  <div class="container-fluid bg-1 text-center">
    <h2 class="margin">Who Am I?</h2>
    <img src="resources/portrait.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
    <h3>I am an architect, modeling the world</h3>
  </div>
</section>


<!-- WHAT Container -->
<section id="what">
  <div class="container-fluid bg-3 text-center">
    <h2 class="margin">What Am I?</h2>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <h3 class="margin">In My Work</h3>
        <p>I am currently a Ph.D. student at University of Michigan in Ann Arbor. I am working on the possibilities of finding new Higgs physics at the Large Hadron Collider at CERN. I am always finding ways to use machine learning tools in my research. With the large amount of data collected by the ATLAS particle detector, there is always a need for better techniques to comb through large datasets and find new results. </p>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
      <img src="resources/marimba.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm-2">
      <img src="resources/wakeboarding.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm=1">
      </div>
    </div>
    <br>
    <hr align=center width=40% style="border-color: #555555;">
    <br>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
      <img src="resources/marimba.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm-2">
      <img src="resources/wakeboarding.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <h3 class="margin">In My Free Time</h3>
        <p>I spend most of my time visiting different places around the world, playing sports with my friends, and exploring new skills on my own. I like playing music on the guitar, the piano, and the marimba. My favorite musical genres are classical and electronic. I also like to cook all kinds of dishes, often making food for others and encouraging feedback but mostly because I love to eat. I spend a lot of time exercising indoors and outdoors as well. My favorite activities include running, biking, swimming, snowboarding, playing ultimate frisbee, and rock climbing.</p>
      </div>
      <div class="col-sm=1">
      </div>
    </div>
  </div>
</section>


<!-- WHERE Container -->
<section id="where">
  <div class="container-fluid bg-1 text-center">    
    <h2 class="margin">Where Am I?</h2>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <h3 class="margin">Work Hard, Play Hard</h3>
        <p>I am currently pursuing my PhD degree at the University of Michigan in Ann Arbor. My work will take me between Ann Arbor, Geneva, and other ATLAS collaboration institutes. When away from work, I spend my holidays in the US southwest visiting friends and family. I also enjoy planning outdoor trips to national parks and exploring nature.</p>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
      <img src="resources/lake.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm-2">
      <img src="resources/desertflower.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm=1">
      </div>
    </div>
  </div>
</section>

