<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                        
		</button>
		<a class="navbar-brand" href="#top">andy chen; leisure</a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#projects">PROJECTS</a></li>
			<li><a href="#media">MEDIA</a></li>
			<li><a href="#cooking">COOKING</a></li>
			<li class="divider-vertical"></li>
			<li><a href="index.php">home</a></li>
			<li><a href="professional.php">professional</a></li>
			<li><a href="leisure.php">leisure</a></li>
		</ul>
	</div>
	</div>
</nav>

<!-- INFO Container -->
<section id="first">
  <div class="container-fluid bg-3 text-center">
    <br><br>
    <br><br>
    <h1 class="margin">Explore My Free Time.</h1>
    <br>
  </div>
</section>

<!-- PROJECTS Container -->
<section id="projects">
  <div class="container-fluid bg-1 text-center">
    <br><br>
    <h3 class="margin">Going Down Rabbit-Holes</h3>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        <h4>Mega Millions: When to Buy a Ticket?</h4>
      </div>
      <div class="col-sm-2">
        <a href="leisure/Mega_Millions.pdf" target="_blank" class="btn btn-primary btn-lg">Get PDF</a>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <br>
    <hr align=center width=40% style="border-color: #555555;">
    <br>
    <h3 class="margin">Personal Projects</h3>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        <h4>Flash Point Workout</h4>
      </div>
      <div class="col-sm-2">
        <a href="https://gitlab.com/andyzfchen/flash-point-workout" target="_blank" class="btn btn-primary btn-lg">GitLab Repo</a>
      </div>
      <div class="col-sm-2">
        <a href="http://www.flashpointworkout.com" target="_blank" class="btn btn-primary btn-lg">Web App</a>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        <h4>Real Estate Market: DW Model</h4>
      </div>
      <div class="col-sm-2">
        <a href="https://gitlab.com/andyzfchen/rem-dw-model" target="_blank" class="btn btn-primary btn-lg">GitLab Repo</a>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</section>


<!-- MEDIA Container -->
<section id="media">
  <div class="container-fluid bg-3 text-center">
    <h3 class="margin">From Our Studio to Your Screen</h3>
    <img src="leisure/resources/theandystudiologo.png" class="img-responsive img-circle margin" style="display:inline" alt="TheAndyStudioLogo" width="350" height="350">
    <br>
    <a href="https://www.flickr.com/photos/143802024@N02" target="_blank" class="btn btn-primary btn-lg">Visit Our Flickr</a>

    <br><br>
    <hr align=center width=40% style="border-color: #cccccc;">
    <br><br>

    <h3 class="margin">Music Corner: Under Construction</h3>
    <img src="leisure/resources/musicnote.png" class="img-responsive margin" style="display:inline" alt="Music Note" width="200" height="200">
    <br>
    <a href="" target="_blank" class="btn btn-primary btn-lg">Visit My SoundCloud</a>
  </div>
</section>


<!-- COOKING Container -->
<section id="cooking">
  <div class="container-fluid bg-1 text-center">
    <h3 class="margin">What's Cooking?</h3>
    <img src="leisure/resources/spices.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Spices" width="350" height="350">
    <br>
    <a href="https://www.evernote.com/pub/chen1177/recipes" target="_blank" class="btn btn-primary btn-lg">Visit My Evernote</a>
  </div>
</section>
