<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>                        
    </button>
    <a class="navbar-brand" href="#top">andy chen; professional</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
			<li><a href="#research">RESEARCH</a></li>
      <li><a href="#skills">SKILLS</a></li>
      <li><a href="#teaching">TEACHING</a></li>
      <li class="divider-vertical"></li>
      <li><a href="index.php">home</a></li>
			<li><a href="professional.php">professional</a></li>
			<li><a href="leisure.php">leisure</a></li>
    </ul>
  </div>
  </div>
</nav>

<!-- INFO Container -->
<section id="first">
  <div class="container-fluid bg-3 text-center">
    <br><br>
    <br><br>
    <h1 class="margin">Discover Me.</h1>
    <br>
  </div>
</section>

<!-- RESEARCH Container -->
<section id="research">
  <div class="container-fluid bg-1 text-center">
    <h2 class="margin">Things I Do</h2>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <h3>UMich @ Ann Arbor, Michigan</h3>
        <p>Along with working on multiple analyses using data collected by the ATLAS particle detector at CERN, I manage the construction, logistics, and quality assurance of detector components for the muon spectrometer upgrade. I have also taught lab sections and discussions, and I continue to mentor and teach undergraduate students who join our detector assembly lab.</p> 
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
      <img src="professional/resources/smdt.png" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm-2">
      <img src="professional/resources/atlas_event_display.png" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm=1">
      </div>
    </div>
    <br>
    <hr align=center width=40% style="border-color: #555555;">
    <br>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
      <img src="professional/resources/caving.png" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm-2">
      <img src="professional/resources/new_small_wheel.png" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <h3>ATLAS @ CERN, Switzerland</h3>
        <p>A better part of 2020 was spent in Europe learning as much as I could about my research project at CERN while exploring the scenic countryside of eastern France. My time spent with passionate mentors gave me invaluable experience in the design and testing process of detector electronics in experimental particle physics. When out of the lab, I explored the cultural metropolis of Geneva and traversed the ridges of the Alps on foot and on snowboard.</p> 
      </div>
    </div>
    <br>
    <hr align=center width=40% style="border-color: #555555;">
    <br>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <h3>Georgia Tech @ Atlanta, Georgia</h3>
        <p>Although I began my college career studying chemical engineering, my curiousity for the underlying mechanisms that allows our world to exist led me to pursue physics instead. Not only did I pick up invaluable research experience across a wide range of science fields, but I also made many close friends inside and outside the classroom. Studying at a dominantly engineering school, I never lost sight of the applications for what I learned in class and I still continue to draw inspiration from my undergraduate lectures.</p> 
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
      <img src="professional/resources/muirwoods.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm-2">
      <img src="professional/resources/skileswalkway.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm=1">
      </div>
    </div>

    <!--
    <br><br>
    <h3 class="margin">Science and Academia</h3>
    <img src="professional/resources/atlaslogo.png" class="img-responsive margin" style="display:inline" alt="ATLAS Experiment" width="250" height="250">

    <p id="p1">Hello World!</p>

    <a id='linkThatChangesTheWorld' href=''>Click Me</a>
    <script>
    $('#linkThatChangesTheWorld').click( function() {
      event.preventDefault();
      document.getElementById("p1").innerHTML = "Area Under Construction!";
    });
    </script>
    <br><br>
    -->

    <a href="https://www.linkedin.com/in/andyzfchen" target="_blank" class="btn btn-primary btn-lg">Visit My LinkedIn</a>
  </div>
</section>


<!-- SKILLS Container -->
<section id="skills">
  <div class="container-fluid bg-3 text-center">
    <h2 class="margin">Things I Know</h2>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
        <br>
        <img src="professional/resources/terminal.png" class="img-responsive margin" style="display:inline" alt="Terminal" width="200" height="200">
        <br>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
        <br>
        <ul align="left" style="list-style-type:none">
          <li>Python</li>
          <li>C++</li>
          <li>MATLAB</li>
          <li>Mathematica</li>
          <li>Fortran</li>
        </ul>
        <br>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
        <br>
        <ul align="left" style="list-style-type:none">
          <li>BASH</li>
          <li>LaTeX</li>
          <li>Java</li>
          <li>Javascript</li>
          <li>HTML & CSS</li>
        </ul>
        <br>
      </div>
      <div class="col-sm=2">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
        <br>
        <img src="professional/resources/graph.png" class="img-responsive margin" style="display:inline" alt="Graph" width="200" height="200">
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <br>
        <ul align="left" style="list-style-type:none">
          <li>Continuous Integration</li>
          <li>Monte Carlo Methods</li>
          <li>Parallelization</li>
          <li>Machine Learning</li>
        </ul>
        <br>
      </div>
      <div class="col-sm=2">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
        <br>
        <img src="professional/resources/speech.png" class="img-responsive margin" style="display:inline" alt="Speech" width="200" height="200">
        <br>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <br>
        <ul align="left" style="list-style-type:none">
        <li>English (<font color="green">Native Proficiency</font>)</li>
        <li>Mandarin Chinese (<font color="green">Full Professional Proficiency</font>)</li>
        <li>French (<font color="orange">Limited Working Proficiency</font>)</li>
        </ul>
        <br>
      </div>
      <div class="col-sm=2">
      </div>
    </div>

    <a href="professional/Curriculum_Vitae.pdf" target="_blank" class="btn btn-primary btn-lg">Get My Curriculum Vitae</a>
  </div>
</section>


<!-- Teaching Container -->
<section id="teaching">
  <div class="container-fluid bg-1 text-center">
	<h2 class="margin">Other Things I Do</h2>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-5">
        <h3>Working one-on-one with students.</h3>
        <p>I have tutored students for more than 10 years since high school on a variety of topics. My experience includes walking them through class material, establishing self-study plans, and preparing for standardized exams.</p> 
        <br>
        <a href="tutor.php" class="btn btn-primary btn-lg">Need a Tutor?</a>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
      <img src="resources/portrait.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm=2">
      </div>
    </div>
    <br>
    <hr align=center width=40% style="border-color: #555555;">
    <br>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      <img src="professional/resources/washtenawcircles.png" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <h3>Performing public science demos.</h3>
        <p>While the Washtenaw Circles Program focuses on helping stuggling families get back on their feet by providing financial advice and emotional suppoort, I collaborate with students in my graduate program to plan and perform science demonstrations for the children in these families. We hope to make science interesting and accessible to all people no matter their situation.</p> 
        <br>
        <a href="https://www.friendsindeedmi.org/circles/" target="_blank" class="btn btn-primary btn-lg">Washtenaw Circles Program</a>
      </div>
      <div class="col-sm=2">
      </div>
    </div>
    <br>
    <hr align=center width=40% style="border-color: #555555;">
    <br>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-5">
        <h3>Creating educational video content.</h3>
        <p>As education continues to become more widely accessible through the internet, I have joined other academic colleagues to create content for high school students. Numerade serves as both a library of explanations for complex concepts or homework problems and a place for students to seek real-time tutoring when reviewing class material.</p> 
        <br>
        <a href="https://www.numerade.com/educators/profile/bbandy-c-2/" target="_blank" class="btn btn-primary btn-lg">Check Out My Content</a>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
      <img src="professional/resources/numerade.png" class="img-responsive img-circle margin" style="display:inline" alt="Portrait" width="400" height="400">
      </div>
      <div class="col-sm=2">
      </div>
    </div>
  </div>
</section>
