<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                        
		</button>
		<a class="navbar-brand" href="#top">andy chen; tutoring</a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#topics">TOPICS</a></li>
      <li><a href="#availability">AVAILABILITY</a></li>
			<li class="divider-vertical"></li>
      <li><a href="index.php">home</a></li>
			<li><a href="professional.php">professional</a></li>
			<li><a href="leisure.php">leisure</a></li>
		</ul>
	</div>
	</div>
</nav>


<!-- TOPICS Container -->
<section id="topics">
  <div class="container-fluid bg-1 text-center">
    <br><br>
    <h3 class="margin">Need a Tutor?</h3>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4">
        <h4 class="margin">General Admissions and Subject Tests</h4>
        <!--<ul align="left" style="list-style-type:none">-->
        <ul align="left" style="list-style-type:circle">
          <li>SAT General Reading, Writing, & Math</li>
          <li>SAT Chinese</li>
          <li>SAT Math</li>
          <li>SAT Physics</li>
          <li>SAT Chemistry</li>
          <li>GRE General Reading, Writing, & Math</li>
          <li>GRE Physics</li>
        </ul><br>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4"> 
        <h4 class="margin">Other Tests and Topics</h4>
        <ul align="left" style="list-style-type:none">
          <li>AP Calculus AB & BC</li>
          <li>AP Physics B & C</li>
          <li>AP Chemistry</li>
          <li>AP Computer Science</li>
          <li>AP Music Theory</li>
          <li>AP Chinese</li>
          <li>High School/College Math & Science</li>
        </ul><br>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <br>
  </div>
</section>


<!-- AVAILABILITY Container -->
<section id="availability">
<div class="container-fluid bg-3 text-center">
	<h3 class="margin">Let's Find a Time</h3>
  <div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6">
      <p>Contact me and I will work with you to find a suitable and flexible plan.</p><br>
		</div>
		<div class="col-sm-3">
		</div>
  </div>
  <br>
</section>
